.product-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .product-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-image {
    margin-right: 20px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  